.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.code-line-number {
  color: #0791d6;
}

.remark-slide-content {
  padding: 1em 3em 1em 3em;

  h1 {
    margin: 0 0 0.3em 0;
  }

  h2 {
    margin: 0;
  }
}

.slide-short {
  padding-top: 20%;

  li {
    font-size: 2rem;
  }
}

.slide-med {
  padding-top: 10%;
}

.container {
  @include clearfix();
  clear: both;

  &.code {
    background-color: #f0f0f0;

    pre {
      margin: 5px 0;
    }
  }
}

.col-one-third {
  width: 34%;
}

.col-half {
  width: 50%;

  &:nth-child(even) {
    padding-left: 10px;
  }

  &:nth-child(odd) {
    padding-right: 10px;
  }
}

.col-two-third {
  padding-left: 20px;
  width: 66%;
}

.col-one-third,
.col-half,
.col-two-third {
  float: left;
}

[class^="col-"] img {
  margin-top: 20px;
}

.pre-no-margin pre {
  margin: 0;
}

.title-slide {
  img {
    max-width: 40%;
  }
}
