@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

* {
  box-sizing: border-box
}

body { font-family: 'Droid Serif'; }

a,
a:visited,
a:active {
  color: #0791d6;
  text-decoration: none;
}

li {
  margin-bottom: 5px;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.rendering-cycle img {
  max-width: 70%;
}

.rendering-cycle .img-caption {
  margin-left: 15%;
}

.layer-slide h1 {
  -webkit-font-smoothing: antialiased;
}

.layer-slide code {
  -webkit-font-smoothing: antialiased;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.code-line-number {
  color: #0791d6;
}

.remark-slide-content {
  padding: 1em 3em 1em 3em;
}

.remark-slide-content h1 {
  margin: 0 0 0.3em 0;
}

.remark-slide-content h2 {
  margin: 0;
}

.slide-short {
  padding-top: 20%;
}

.slide-short li {
  font-size: 2rem;
}

.slide-med {
  padding-top: 10%;
}

.container {
  clear: both;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.container.code {
  background-color: #f0f0f0;
}

.container.code pre {
  margin: 5px 0;
}

.col-one-third {
  width: 34%;
}

.col-half {
  width: 50%;
}

.col-two-third {
  padding-left: 20px;
  width: 66%;
}

.col-one-third,
.col-half,
.col-two-third {
  float: left;
}

[class^="col-"] img {
  margin-top: 20px;
}

.pre-no-margin pre {
  margin: 0;
}

.title-slide img {
  max-width: 40%;
}
